- var title = name + " - " + command + " - Stats";
include ./preprocess.jade
doctype html
html
	head
		include ./header.jade
	body
		include ./heading.jade
		include ./statsSubmenu.jade
		h3 For command #{command} in channel #{name}
		hr
		ul
			each stat, value in stats
				li
					- if(stat.total==1){
						| #{stat.game}: #{stat.total} #{single}
					- } 
					- else {
						| #{stat.game}: #{stat.total} #{plural}
					- }
	include ./footer.jade